body {
  background-color: #700928;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.blue {
  width: 550px;
  height: 550px;
  background-color: #03275d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px yellow inset;
}
.red {
  width: 500px;
  height: 500px;
  background-color: #31122e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
img {
  width: 150px;
  position: absolute;
  top: 10px;
}
.clock {
  font-family: "Fjalla One", sans-serif;
  color: #f4c300;
  font-size: 5rem;
  font-weight: 900;
  padding-top: 100px;
}

.sec {
  animation: pulse 1s infinite;
  transition: color 0.7s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #700928;
  }
  50% {
    transform: scale(1.2);
    color: #f4c300;
  }
  100% {
    transform: scale(1);
    color: #03275d;
  }
}

p {
  font-size: 3rem;
  color: yellow;
  font-weight: 900;
}

   @media (max-width: 600px) {
      .blue {
        width: 90vw;
        height: 90vw;
      }
      .red {
        width: 80vw;
        height: 80vw;
      }
      .red img {
        width: 30%;
      }
      .clock {
        font-size: 12vw;
      }
      p {
        font-size: 10.5vw;
      }
      .site-logo img {
        width: 80px;
      }
    }